
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  text-transform: capitalize;
}

.header {
  padding: 1rem 0;
}

.grid {
  display: grid !important;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  
}

.card{
  border:none !important;
  color: white;
}