
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3{
  size: 50;
}

body {
  width: 100%;
  min-height: 100vh;
  text-transform: capitalize;
}

.header {
  padding: 1rem 0;
}

.grid {
  display: grid !important;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  
}

.card{
  font-family: 'Courier New', Courier, monospace;
  border:none !important;
  color: white;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0px;
}

.code{
  color: black;
}